# rclone.conf.template
# this file is a template only
# real values are generated during workflow execution
# credentials must come from github secrets

[oci]
type = oracleobjectstorage
provider = oracle

namespace = ${OCI_NAMESPACE}
region = ${OCI_REGION}
compartment = ${OCI_COMPARTMENT_OCID}

user = ${OCI_USER_OCID}
tenancy = ${OCI_TENANCY_OCID}
fingerprint = ${OCI_FINGERPRINT}

key_file = ${OCI_PRIVATE_KEY_FILE}
