[oci_backup]
type = oracleobjectstorage
provider = oci
namespace = {{OCI_NAMESPACE}}
region = {{OCI_REGION}}
compartment = {{OCI_COMPARTMENT_OCID}}
config_file = %USERPROFILE%\.oci\config
key_file = %USERPROFILE%\.oci\oci_api_key.pem
user_ocid = {{OCI_USER_OCID}}
tenancy_ocid = {{OCI_TENANCY_OCID}}
fingerprint = {{OCI_FINGERPRINT}}
